html,
body {
    width: 100%;
    height: 100%;
}

.container-max-width {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}

.min-height {
    height: auto;
    min-height: 100vh;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.accordion-header {
    --bs-accordion-active-bg: rgba(var(--bs-secondary-rgb));
    --bs-accordion-active-color: white;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.feather-button {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.loader {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
    margin-right: 5px;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}